<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/login_style.css">
    <script src="https://kit.fontawesome.com/a010d65012.js" crossorigin="anonymous"></script>

   
</head>

<body>
    <div class="container">
        <div class="form-box">
            <h1 id="title">Login</h1>
            <form action="/login" method="post">
                <d class="input-group">
                    <div class="input-field" id="nameField">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="name" placeholder="Name" autocomplete="name" required>
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-users"></i>
                        <input type="UserType" name="UserType" placeholder="User Type" required>
                    </div>

                    <button type="submit" class="btn-field">Login</button>
                    
                    <p>Don't have an account? <a href="/signup">signup</a></p>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
