<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Quiz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/take_quiz.css">
</head>

<body>
    <div id="quizContainer">
        <div id="quizHeader">
            <h2 id="quizName"></h2>
            <!-- <p>Time Remaining: <span id="totalTimer"></span></p> -->
            <div id="timerContainer"><i class="fas fa-clock"></i> <span id="totalTimer"></span></div>
        </div>
        <div id="quizContent"></div>
    </div>

    <script src="/js/take_quiz.js"></script>
</body>

</html>